@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700&display=swap')

$family-primary: 'Source Code Pro', monospace
$family-monospace: 'Source Code Pro', monospace


//  F67280   F67280   C06C84   6C5B7B   355C7D
$primary: #355C7D
$link: #6C5B7B
$info: #C06C84
$success: #F67280
$warning: #F8B195


@import "../themes/bulma-base/assets/node_modules/bulma/sass/utilities/initial-variables.sass"
