@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700&display=swap')

$family-primary: 'Source Code Pro', monospace
$family-monospace: 'Source Code Pro', monospace


//  F67280   F67280   C06C84   6C5B7B   355C7D
$warning: #f1eac8
$success: #e5b9ad
$primary: #009392
$link: #72aaa1
$info: #b1c7b3

// #f3e79b,#fac484,#f8a07e,#eb7f86,#ce6693,#a059a0,#5c53a5
// #fcde9c,#faa476,#f0746e,#e34f6f,#dc3977,#b9257a,#7c1d6f
// #009392,#39b185,#9ccb86,#e9e29c,#eeb479,#e88471,#cf597e
// #009392,#72aaa1,#b1c7b3,#f1eac8,#e5b9ad,#d98994,#d0587e


@import "../themes/bulma-base/node_modules/bulma/sass/utilities/initial-variables.sass"

.hero
  &.has-background
    position: relative
    overflow: hidden
  &-background
    position: absolute
    object-fit: cover
    object-position: center center
    width: 100%
    height: 100%
    &.is-transparent
      opacity: 0.3
