<aside class="menu is-hidden-mobile">
  <div class="tabs">
    <ul>
      <li class="tab is-active" onclick="openTab(event,'content-sb-tab-menu')"><a class="menu-label">{{ i18n "menu" }}</a></li>
      <li class="tab" onclick="openTab(event,'content-sb-tab-calendar')"><a class="menu-label">{{ i18n "tags" }}</a></li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="content-tab" id="content-sb-tab-menu">
      {{ partial "menu.html" . }}
    </div>
    <div class="content-tab" id="content-sb-tab-calendar" style="display:none">
        {{ partial "tags.html" .}}
    </div>
  </div>
</aside>

<script type="text/javascript">

  // Aside Menu Tabs
  function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("content-tab");
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" is-active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " is-active";
  }
</script>
