<div id="hero">
<section class="hero is-fullheight has-background">
  <img class="hero-background is-transparent" src="{{ .Site.Params.logo.heroImg | relURL }}" alt="">
  <div class="hero-body">
    <div class="container" style="z-index:2">
      <figure class="image is-128x128">
        <img class="center" src="{{ .Site.Params.logo.notext | relURL }}">
      </figure>
      <h2 class="subtitle">{{ .Site.Params.description | markdownify }}</h2>
    </div>
  </div>
  <!-- Hero footer: will stick at the bottom -->
</section>
</div>
</section>

<section class="hero is-primary has-text-centered">
  <div class="hero-body">
    <h1 class="content"> {{ .Site.Params.about | markdownify }} </h1>

  </div>
</section>

<section class="hero is-link has-text-centered is-medium override-navbar">
  <div class="hero-body">
    <h1 class="title hero-quote"> {{ i18n "recent-blogposts" }} </h1>
    <div class="columns is-centered">
      {{ range first 3 .Site.RegularPages }}
      <div class="column is-3">
        <div class="card">
          {{ partial "card-hero.html" . }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="hero is-info has-text-centered is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title hero-quote"> {{ i18n "about-biotop" }} </h1>
      <div class="columns is-multiline is-centered">

        {{ range .Site.RegularPages }}
          {{ if eq .Params.type "index" }}
            <div class="column is-one-third is-tablet">
              {{ $pdict := (dict "data" . "imgSize" "is-64x64" "faSize" "fa-2x" "h1Size" "is-5" "h4Size" "is-6")}}
              {{ partial "bubble.html" $pdict }}
            </div>
          {{ end}}
        {{ end }}
        {{ range .Sections }}
          <div class="column is-one-third is-tablet">
            {{ $pdict := (dict "data" . "imgSize" "is-64x64" "faSize" "fa-2x" "h1Size" "is-5" "h4Size" "is-6")}}
            {{ partial "bubble.html" $pdict }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
